.home {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr;
  margin: auto;
  position: relative;
  top: 130px;


  @media screen and(max-width: 590px) {
    grid-template-columns: 1fr;
    margin: 58px 8px 50px;
  }

    .home-content {
      width: inherit;
      max-width: 1200px;
      text-align: center;
      background: $color-4;
      border-radius: 20px;
      padding: 25px;
      margin: 20px 10px;

      .search-form {
        background: $color-4;
        border-radius: 20px;
        padding: 20px;
        @media screen and(max-width: 790px) {
          border-radius: 5px;
          padding: 5px;
        }
        form {
          input {
            padding: 10px 14px;
            margin: 0;
            font-size: calc(1vw + 1vh + 2vmin);
            font-family: $font-2;
            border-radius: 20px;
            @media screen and(max-width: 790px) {
             width: 100%;
            }
            &:focus {
              box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
            }
          }
          input[type="submit"] {
            padding: 14px 14px;
            border-radius: 20px;
          }
        }
      }
      .card-wrapper {
        max-width: 1200px;
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        height: fit-content;
        @media screen and(max-width: 1024px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media screen and(max-width: 590px) {
          grid-template-columns: 1fr;
        }
        a{
          display: block;
          min-width: 30%;

          height: 50vh;
          .card{
            width: 100%;
            background-color:  $color-4;
            color:  $color-4;
            border-radius: 0.5rem;
            box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);

            height: 50vh;

            img {
              border-radius: 0.5rem 0.5rem 0 0;
              width: 100%;
              object-fit: cover;
              max-height: calc(10rem, 30vh);
              aspect-ratio: 4/3;
              @media screen and(max-width: 590px) {
                aspect-ratio: 4/2;
              }

              ~ * {
                margin-left: 1rem;
                margin-right: 1rem;
              }
            }
            > :last-child {
              margin-bottom: 0;
            }
            h3 {
              min-height: 22px;
              height: fit-content;
              line-height: 22px;
              font-size: clamp(0.7rem, 1vw, 1.5rem);
              @media screen and(max-width: 590px) {
                min-height:32px;
                height: fit-content;
                line-height: 32px;
                font-size: clamp(1.0rem, 2rem, 2rem);
              }
              text-align: left;
              color:  $color-3;
             text-transform: uppercase;
            }
            p{
              color:  $color-3;
              max-height:46px;
              @media screen and(max-width: 590px) {
                max-height:76px;
              }
              height: fit-content;
              text-align: left;
              font-size: 0.9rem;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            }
          }
        }

      }
    }


}
